<p>Input amount of grades that students have this semester</p>
<input type="number" oninput="validity.valid||(value='');" [(ngModel)]="numOfGrades">
<button (click)="grades = []" [disabled]="!grades.length">Clear</button>
<button (click)="onGenerateTable()">{{grades.length ? 'Add' : 'Create'}} fields</button>
<form #gradesForm="ngForm" (submit)="onCalculate(gradesForm)">
  <div class="grades-list">
    <input type="number" oninput="validity.valid||(value='');" *ngFor="let grade of this.grades; let i = index" min="0" ngModel [name]="i.toString()">
  </div>
  <button type="submit">Calculate</button>
</form>
<p *ngIf="avgGrade">Average Grade: {{ avgGrade }}</p>
